In [2]:
import pandas as pd

jan = "Resources/citibike_jan.csv"
feb = "Resources/citibike_feb.csv"
march = "Resources/citibike_march.csv"
april = "Resources/citibike_april.csv"
may = "Resources/citibike_may.csv"
june = "Resources/citibike_june.csv"
july = "Resources/citibike_july.csv"
aug = "Resources/citibike_august.csv"
sept = "Resources/citibike_september.csv"
octo = "Resources/citibike_october.csv"
nov = "Resources/citibike_november.csv"
dec = "Resources/citibike_december.csv"

jan_df = pd.read_csv(jan)
feb_df = pd.read_csv(feb)
march_df = pd.read_csv(march)
april_df = pd.read_csv(april)
may_df = pd.read_csv(may)
june_df = pd.read_csv(june)
july_df = pd.read_csv(july)
aug_df = pd.read_csv(aug)
sept_df = pd.read_csv(sept)
oct_df = pd.read_csv(octo)
nov_df = pd.read_csv(nov)
dec_df = pd.read_csv(dec)

In [3]:
janlength = len(jan_df)
feblength = len(feb_df)
marlength = len(march_df)
aprlength = len(april_df)
maylength = len(may_df)
junelength = len(june_df)
julylength = len(july_df)
auglength = len(aug_df)
seplength = len(sept_df)
octlength = len(oct_df)

            
print(f" January: {janlength}")
print(f" February: {feblength}")
print(f" March: {marlength}")
print(f" April: {aprlength}")
print(f" May: {maylength}")
print(f" June: {junelength}")
print(f" July: {julylength}")
print(f" August: {auglength}")
print(f" September: {seplength}")
print(f" October: {octlength}")

 January: 955210
 February: 1048575
 March: 1048575
 April: 1048575
 May: 682762
 June: 1048575
 July: 36921
 August: 38680
 September: 53833
 October: 30086

In [4]:
jan_df_limit = jan_df.sample(n=30000, random_state=1, )
feb_df_limit = feb_df.sample(n=30000, random_state=1)
mar_df_limit = march_df.sample(n=30000, random_state=1)
april_df_limit = april_df.sample(n=30000, random_state=1)
may_df_limit = may_df.sample(n=30000, random_state=1)
june_df_limit = june_df.sample(n=30000, random_state=1)
july_df_limit = july_df.sample(n=30000, random_state=1)
aug_df_limit = aug_df.sample(n=30000, random_state=1)
sept_df_limit = sept_df.sample(n=30000, random_state=1)
oct_df_limit = oct_df.sample(n=30000, random_state=1)
nov_df_limit = nov_df.sample(n=30000, random_state=1)
dec_df_limit = dec_df.sample(n=30000, random_state=1)

In [5]:
####

citbike_months = [jan_df_limit, feb_df_limit, mar_df_limit, april_df_limit, may_df_limit, june_df_limit, july_df_limit, aug_df_limit, sept_df_limit, oct_df_limit, nov_df_limit, dec_df_limit]

In [6]:
df = pd.concat(citbike_months)
original_length = len(df)
print(original_length)

360000

In [8]:
# Remove all rows where trip duration is less than 5 minutes
df = df[df['tripduration'] >= 300 ] 

# Remove all rows where trip duration is more than 12 hours
df = df[df['tripduration'] <= 43200 ] 

outliers_removed_length = len(df)
print(outliers_removed_length)

298160

In [9]:
#Add tripduration(min)

df['tripduration(minutes)'] = df['tripduration'] / 60

df['tripduration(hours)'] = df['tripduration(minutes)'] / 60

In [10]:
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,month,tripduration(minutes),tripduration(hours)
585909,500,37:10.3,45:30.5,301,E 2 St & Avenue B,40.722174,-73.983688,3812,University Pl & E 14 St,40.734814,-73.992085,38836,Subscriber,1993,1,January,8.333333,0.138889
911996,523,27:46.3,36:30.3,523,W 38 St & 8 Ave,40.754666,-73.991382,491,E 24 St & Park Ave S,40.740964,-73.986022,26350,Subscriber,1965,2,January,8.716667,0.145278
491921,552,52:31.1,01:43.3,406,Hicks St & Montague St,40.695128,-73.995951,3386,1 Pl & Clinton St,40.680959,-73.999057,33751,Subscriber,1961,1,January,9.200000,0.153333
908976,776,41:50.7,54:47.5,326,E 11 St & 1 Ave,40.729538,-73.984267,358,Christopher St & Greenwich St,40.732916,-74.007114,38078,Subscriber,1954,2,January,12.933333,0.215556
368095,2044,17:02.7,51:07.4,3828,Eldert St & Bushwick Ave,40.686520,-73.913210,3558,Bergen St & Vanderbilt Ave,40.679439,-73.968044,19825,Subscriber,1983,1,January,34.066667,0.567778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
890333,3848,52:54.7,57:03.5,474,5 Ave & E 29 St,40.745168,-73.986831,486,Broadway & W 29 St,40.746201,-73.988557,44823,Subscriber,1992,1,December,64.133333,1.068889
317934,1194,02:57.5,22:51.6,360,William St & Pine St,40.707179,-74.008873,350,Clinton St & Grand St,40.715595,-73.987030,41485,Subscriber,1992,2,December,19.900000,0.331667
131398,788,53:40.7,06:48.8,327,Vesey Pl & River Terrace,40.715338,-74.016584,473,Rivington St & Chrystie St,40.721101,-73.991925,16958,Subscriber,1985,1,December,13.133333,0.218889
450772,1249,56:32.6,17:22.0,3686,Gansevoort St & Hudson St,40.739448,-74.005070,489,10 Ave & W 28 St,40.750664,-74.001768,28084,Customer,1969,0,December,20.816667,0.346944
21036,1452,07:43.9,31:56.7,3283,W 89 St & Columbus Ave,40.788221,-73.970416,3158,W 63 St & Broadway,40.771639,-73.982614,43150,Subscriber,1968,1,December,24.200000,0.403333

In [11]:
df.to_csv("Output/citibike_2020.csv")

In [12]:
jan_df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'month'],
      dtype='object')

In [13]:
jan_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
month                       object
dtype: object